@tailwind base;
@tailwind components;
@tailwind utilities;

#grade {
    perspective: 1000px;
}

#grade img {
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .4s;
}

#grade img:active {
    transform: scale(0.97);
    transition: transform .5s;
}

.flip {
    transform: rotateY(180deg) !important;
}